body {
	background-color: rgba(
		0,
		0,
		0,
		0.884
	); /* Установка темно-серого фона для всей страницы */
	height: 100vh; /* Установка высоты страницы равной высоте видимой области окна браузера */
	width: 100%; /* Установка ширины страницы на 100% ширины окна браузера */
	margin: 0; /* Удаление стандартных отступов у элемента */
	display: flex; /* Применение flexbox для управления расположением дочерних элементов */
	justify-content: center; /* Центрирование содержимого по горизонтали */
	align-items: center; /* Центрирование содержимого по вертикали */
	font-family: Arial, sans-serif; /* Установка шрифта для текста на странице */
	overflow: hidden; /* Убирает полосы прокрутки */
}

h3 {
	font-size: 1.4rem; /* Установка размера шрифта заголовка */
	text-align: center; /* Выравнивание текста заголовка по центру */
	color: #c9c5a9; /* Установка цвета текста заголовка */
}

.container-fluid {
	background-color: transparent; /* Установка прозрачного фона для контейнера */
	padding: 2rem; /* Установка внутренних отступов контейнера */
	border-radius: 8px; /* Скругление углов контейнера */
	width: 90%; /* Установка ширины контейнера равной 90% родительского элемента */
	max-width: 380px; /* Ограничение максимальной ширины контейнера */
	box-shadow: 0 12px 25px rgb(0, 0, 0); /* Добавление тени для создания эффекта глубины */
}

.form-control {
	background-color: rgb(
		124,
		124,
		124
	); /* Установка цвета фона для элементов управления форм */
	border: none; /* Удаление границ элементов управления */
}

button,
input {
	display: block; /* Элементы отображаются как блочные */
	width: 100%; /* Установка ширины элементов на 100% родительского элемента */
	box-sizing: border-box; /* Учет границ и внутренних отступов в ширине элемента */
	border: none; /* Удаление границ элементов */
	border-radius: 4px; /* Скругление углов элементов */
}

button {
	padding: 0.8rem; /* Установка внутренних отступов для кнопок */
	margin-top: 1rem; /* Установка внешнего отступа сверху для кнопок */
}

.btn-link {
	text-decoration: none; /* Удаление подчеркивания у ссылок */
	color: white; /* Установка цвета текста для ссылок */
}

.btn-link:hover,
.btn-link:focus {
	background-color: rgba(
		103,
		103,
		103,
		0.606
	); /* Изменение фона при наведении или фокусе */
	transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1); /* Плавное изменение фона */
	text-decoration: none; /* Повторное подтверждение удаления подчеркивания при наведении или фокусе */
	color: white; /* Поддержание белого цвета текста при изменениях состояния */
	box-shadow: 0 12px 20px rgb(0, 0, 0); /* Добавление тени для создания эффекта глубины */
}
