/* src/styles/global.css */

/* Основные стили для body и контейнеров */
body,
html {
	margin: 0;
	padding: 0;
	width: 100;
	height: 100%;
	font-family: '', sans-serif;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#root,
.App {
	background-color: #333333ae;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	min-width: auto;
	color: rgba(192, 192, 192, 0.846);
}

.container {
	max-width: 4920px;
}

.categories {
	text-align: center;
}

.slick-slide {
	image-orientation: flip;
	break-before: auto;
}

/* Центрирование содержимого на всех страницах */
.main-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footik {
	margin-top: auto;
	display: flex; /* Используем flexbox для размещения элементов в строку */
	align-items: center; /* Выравнивание по вертикали */
	justify-content: center; /* Выравнивание по горизонтали */
	gap: 10px; /* Пробел между элементами */
}

input {
	flex: 1; /* Поле ввода занимает все доступное пространство */
	padding: 10px; /* Внутренний отступ */
	border-radius: 5px; /* Скругленные углы */
}

.footik button {
	flex-shrink: 0; /* Кнопка не сжимается */
	padding: 10px 10px; /* Размер кнопки */
	border-radius: 5px; /* Скругленные углы */
	background-color: #acb2ba; /* Цвет фона */
	color: white; /* Цвет текста */
	border: none; /* Убираем границу */
	cursor: pointer; /* Смена курсора на указатель */
}

button:hover {
	background-color: #0056b3; /* Цвет кнопки при наведении */
}

/* Адаптивность */
@media (max-width: 5000px) {
	/* Для больших экранов и ноутбуков */
	.container {
		width: 95%;
		padding: 15px;
	}
}

@media (max-width: 2000px) {
	/* Для планшетов */
	.container {
		width: 85%;
		padding: 15px;
	}
}

@media (max-width: 1400px) {
	/* Для портретной ориентации планшетов и крупных телефонов */
	.container {
		width: 95%;
		padding: 10px;
	}
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
	.chat-message {
		max-width: 70%;
	}
}

@media (max-width: 476px) {
	/* Для телефонов */
	.container,
	header,
	footer {
		width: 100%;
		height: 25px;
		padding: 0 0px;
	}
}
