.modal-content {
	background-color: rgba(45, 45, 45, 0.95); /* Темный фон с прозрачностью */
	color: #fff; /* Белый текст */
	border-radius: 10px; /* Скругленные углы */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Тень для объема */
}

.modal-dialog {
	overflow-y: initial !important;
}

.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}

output {
	display: block; /* делает output блочным элементом, чтобы он отображался под слайдером */
	text-align: center; /* центрирует текст внутри output */
}

.modal-header,
.modal-footer {
	border-bottom: 1px solid #fff651; /* Тонкая граница между частями модального окна */
	background-color: rgba(
		30,
		30,
		30,
		0.85
	); /* Немного более темный фон для шапки и подвала */
}

.modal-title {
	color: #e8e8e8; /* Светлый цвет заголовка */
}

.btn-close {
	filter: invert(
		1
	); /* Инвертировать цвет кнопки закрытия для видимости на темном фоне */
}

.btn-primary {
	background-color: #007bff; /* Голубая кнопка */
	border: none;
}

.btn-primary:hover {
	background-color: #0056b3; /* Темно-голубой при наведении */
}

.btn-secondary {
	background-color: #6c757d; /* Серая кнопка */
	border: none;
}

.btn-secondary:hover {
	background-color: #545b62; /* Темно-серая при наведении */
}
