.category-slide img {
	border: 1px solid rgb(107, 107, 107);
	margin: auto; /* Центрирование изображения по горизонтали */
	display: block; /* Заставляет img вести себя как блочный элемент */
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.633); /* Тень для изображения */
	/* Убрать рамку */
	width: 13vh; /* Ширина изображения */
	height: 13vh; /* Высота изображения */
	border-radius: 15px; /* Скругление углов изображения */
	object-fit: cover; /* Обеспечивает покрытие области содержимым без искажения */
	object-position: center; /* Центрирует содержимое изображения */
}

.collection-slide img {
	border: 1px solid rgb(107, 107, 107);
	margin: auto; /* Центрирование изображения по горизонтали */
	display: block; /* Заставляет img вести себя как блочный элемент */
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.633); /* Тень для изображения */
	/* Убрать рамку */
	width: 13vh; /* Ширина изображения */
	height: 13vh; /* Высота изображения */
	border-radius: 15px; /* Скругление углов изображения */
	object-fit: cover; /* Обеспечивает покрытие области содержимым без искажения */
	object-position: center; /* Центрирует содержимое изображения */
}

.category-slide {
	margin: 4vh 0 4px 0;
}

.collection-slide {
	margin-top: 4vh;
}
button::before {
	content: none; /* Указывает, что у псевдо-элемента не должно быть контента */
	display: none; /* Дополнительно скрывает псевдо-элемент */
}
